@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --color-secondary: oklch(0.97 0.004 100);
  --color-mint-50: oklch(0.72 0.11 178 / 0.1);
  --color-mint-100: oklch(0.72 0.11 178 / 0.2);
  --color-mint-200: oklch(0.72 0.11 178 / 0.4);
  --color-mint-300: oklch(0.72 0.11 178 / 0.6);
  --color-mint-400: oklch(0.72 0.11 178 / 0.8);
  --color-mint-500: oklch(0.72 0.11 178);
  --color-mint-600: oklch(0.72 0.11 178 / 1);
  --color-mint-700: oklch(0.72 0.11 178 / 1.2);
  --color-mint-800: oklch(0.72 0.11 178 / 1.4);
  --color-mint-900: oklch(0.72 0.11 178 / 1.6);
  --font-host: "Host Grotesk", sans-serif;
  --font-kanit: "Kanit", sans-serif;
  --font-dela: "Dela Gothic One", sans-serif;
  --font-passion: "Passion One", cursive;
  --font-roboto: "Roboto", sans-serif;
}

html {
  scrollbar-gutter: stable;

  a:hover {
    color: var(--color-mint-500);
    text-decoration: none;
  }
}
/* html.dark {
  background-color: #0d0950;
  color: #fff;
}
 */
/* .dark a {
  color: #fff;
}

.dark p h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
}
 */
