---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";

const allPosts = await getCollection("blog");
const tags = [...new Set(allPosts.map((post: any) => post.data.tags).flat())];
const pageTitle = "Répertoire des étiquettes";
---

<Layout title={pageTitle}>
  <section class="max-w-6xl mx-auto">
    <!-- Titre -->
    <h1 class="text-3xl font-bold text-gray-900 text-center mb-8">
      {pageTitle}
    </h1>

    <!-- Liste des tags -->
    <div class="flex flex-wrap gap-4 justify-center">
      {
        tags.map((tag) => (
          <a
            href={`/tags/${tag}`}
            class="inline-block mt-3 px-4 py-2 bg-mint-500 text-white text-sm font-semibold rounded-full shadow-md transition-all duration-300 hover:bg-mint-50"
          >
            #{tag}
          </a>
        ))
      }
    </div>
  </section>
</Layout>
