---
const { degree, institution, period } = Astro.props;
---

<div>
  <h3 class="text-lg font-medium text-gray-900 dark:text-white">{degree}</h3>
  <div class="text-mint-600 dark:text-pmint-400 font-bold">{institution}</div>
  <div class="text-sm text-gray-600 dark:text-gray-400">{period}</div>
</div>
