---

---

<div class="flex flex-col md:flex-row gap-8 mb-10">
  <div class="md:w-1/3">
    <div
      class="bg-gray-100 dark:bg-gray-700 rounded-full overflow-hidden w-48 h-48 mx-auto"
    >
      <!-- Placeholder pour photo de profil -->
      <div
        class="w-full h-full bg-primary-200 dark:bg-primary-900 flex items-center justify-center text-4xl font-bold text-primary-700 dark:text-primary-300"
      >
        JP
      </div>
    </div>
  </div>

  <div class="md:w-2/3">
    <p class="text-gray-700 dark:text-gray-300 mb-4">
      Bonjour, c'est Kevine ! Je suis un développeur web et web mobile
      passionné, en frontend avec React, Next.js, Astro.
    </p>

    <p class="text-gray-700 dark:text-gray-300 mb-4">
      Autodidacte et en veille constante, je me forme continuellement sur des
      plateformes comme
      <a href="https://openclassrooms.com/" class="text-mint-500 font-bold"
        >OpenClassrooms</a
      >,
      <a
        href="https://www.linkedin.com/learning/"
        class="text-mint-500 font-bold">LinkedIn Learning</a
      >,
      <a href="https://grafikart.fr/" class="text-mint-500 font-bold"
        >Grafikart</a
      >,
      <a href="https://www.udemy.com/" class="text-mint-500 font-bold">Udemy</a
      >,
      <a
        href="https://blog.stephane-robert.info/"
        class="text-mint-500 font-bold">blog.stephane-robert</a
      >
      et
      <a href="https://laminutedecode.io/" class="text-mint-500 font-bold"
        >La Minute de Code</a
      >, afin de rester à jour avec les dernières technologies et bonnes
      pratiques.
    </p>

    <p class="text-gray-700 dark:text-gray-300">
      Toujours en quête d'innovation, j'explore des nouveaux outils et
      technologies et les meilleures pratiques en développement et déploiement,
      notamment avec les outils CI/CD et Docker et ReactNative.
    </p>
  </div>
</div>
