---
import pageNotFound from "../assets/page-not-found.svg";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Page non trouvée - 404">
  <main class="container mx-auto px-2 py-12 font-host">
    <div class="max-w-md mx-auto text-center">
      <img
        src={pageNotFound.src}
        alt="Page non trouvée"
        class="w-128 mx-auto mb-4"
      />

      <h2 class="text-2xl font-semibold font-kanit text-gray-900 mb-4">
        Oups... Il semble que vous soyez perdu !
      </h2>
      <p class="text-lg text-gray-700 mb-8">
        Pas de panique ! Cette page n'existe pas ou a été déplacée. <br />
        Revenez à l'accueil.
      </p>
      <a
        href="/"
        class="px-8 py-4 bg-mint-800 border-transparent text-white hover:bg-mint-900 font-semibold rounded-full transition-all duration-300 transform text-lg shadow-lg backdrop-blur-sm antialiased"
      >
        Retour à l'accueil
      </a>
    </div>
  </main>
</Layout>
