---
import FloatCV from "../components/FloatCV.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Agence Web Digital - Solutions Numériques Innovantes">
  <!-- Hero Section avec Animation -->
  <FloatCV />

  <section class="relative flex items-center justify-center overflow-hidden">
    <!-- Effet de flou et profondeur -->
    <div
      class="absolute inset-0 bg-gradient-to-b from-gray-100/50 to-gray-300/30 dark:from-gray-900/50 dark:to-black/80 backdrop-blur-xl"
    >
    </div>

    <div class="container mx-auto relative z-10">
      <div class="max-w-6xl mx-auto text-center" data-aos="fade-up">
        <!-- Titre principal avec animation -->
        <h1
          class="text-3xl md:text-6xl lg:text-7xl font-passion font-bold mb-4 leading-tight text-mint-800 uppercase tracking-wide"
          data-aos="fade-down"
          data-aos-delay="100"
        >
          De l'idée à la réalisation :
          <br />
          <span class="text-gray-800 dark:text-gray-300">
            Création de sites web, d'applications web et mobiles performantes
          </span>
        </h1>

        <!-- Sous-titre avec fade-in -->
        <p
          class="text-sm md:text-lg text-gray-600 dark:text-gray-400 max-w-3xl mx-auto mb-6 leading-relaxed"
          data-aos="fade-in"
          data-aos-delay="200"
        >
          Donnez vie à vos idées : alliant design, performance et expérience
          utilisateur exceptionnelle. Développeur web passionné, j'intègre les
          meilleures technologies pour garantir des interfaces intuitives, un
          design élégant et une expérience utilisateur optimale.
        </p>

        <p
          class="text-sm md:text-lg text-gray-600 dark:text-gray-400 max-w-3xl mx-auto mb-8"
          data-aos="fade-in"
          data-aos-delay="300"
        >
          Besoin d'un site web impactant ou d'une application performante ?
          Parlons-en et concrétisons ensemble votre vision.
        </p>

        <!-- Boutons interactifs avec animations -->
        <div
          class="flex flex-wrap justify-center text-sm md:text-lg gap-4 font-host fixed bottom-10 left-1/2 transform -translate-x-1/2"
          data-aos="fade-up"
          data-aos-delay="400"
        >
          <a
            href="/portfolio"
            class="px-6 py-3 bg-white text-primary-700 hover:bg-gray-100 shadow-lg border-transparent font-semibold rounded-full transition-all duration-300 transform hover:scale-105 hover:shadow-xl"
          >
            Voir mes réalisations
          </a>
          <a
            href="#contact"
            class="px-6 py-3 bg-mint-800 border-transparent text-white hover:bg-mint-900 font-semibold rounded-full transition-all duration-300 transform hover:scale-105 hover:shadow-xl backdrop-blur-sm antialiased"
          >
            Me contacter
          </a>
        </div>
      </div>
    </div>
  </section>
</Layout>
