---
import FloatCV from "../components/FloatCV.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Agence Web Digital - Solutions Numériques Innovantes">
  <!-- Hero Section avec Animation -->
  <FloatCV />
  <section class="relative min-h-[80vh] flex items-center justify-center">
    <div class="absolute inset-0"></div>
    <div class="container mx-auto relative z-10">
      <div class="max-w-8xl mx-auto text-center" data-aos="fade-up">
        <h1
          class="text-2xl md:text-6xl lg:text-7xl font-passion font-bold mb-2 leading-tight text-mint-800 uppercase tracking-wide"
          data-aos="fade-down"
          data-aos-delay="100"
        >
          De l'idée à la réalisation : <br />
          <span class="text-gray-900">
            Création de sites web, d'applications web et mobiles performantes
          </span>
        </h1>

        <p class="text-sm md:text-base text-gray-700 max-w-3xl mx-auto mb-6">
          Donnez vie à vos idées: alliant design, performance et expérience
          utilisateur exceptionnelle. Développeur web passionné de Toulouse,
          j'intègre les meilleures technologies et pratiques du marché pour
          garantir des interfaces intuitives, un design élégant et une
          expérience utilisateur optimale.
        </p>

        <p class="text-sm md:text-base text-gray-700 max-w-3xl mx-auto mb-8">
          Besoin d'un site web impactant ou d'une application performante ?
          Parlons-en et concrétisons ensemble votre vision.
        </p>

        <div
          class="flex flex-wrap justify-center text-sm md:text-base lg:text-lg gap-4 font-host fixed bottom-10 left-1/2 transform -translate-x-1/2"
          data-aos="fade-up"
          data-aos-delay="400"
        >
          <a
            href="/portfolio"
            class="px-6 py-2 bg-white text-primary-700 hover:bg-gray-100 shadow-lg border-transparent font-semibold rounded-full transition-all duration-300 transform hover:shadow-xl"
          >
            Voir mes réalisations
          </a>
          <a
            href="#contact"
            class="px-6 py-2 bg-mint-800 border-transparent text-white hover:bg-mint-900 font-semibold rounded-full transition-all duration-300 transform shadow-lg backdrop-blur-sm antialiased"
          >
            Me contacter
          </a>
        </div>
      </div>
    </div>
  </section>
</Layout>
