---

---
<a href="/" class="flex items-center space-x-2">
  <div
    class="w-10 h-10 bg-primary-600 rounded-full flex items-center justify-center text-white font-bold text-xl"
  >
    P
  </div>
  <span class="text-xl font-bold dark:text-white">Portfolio</span>
</a>
