<!-- Bannière Alternance -->
<div
  class="w-full text-white bg-gradient-to-r from-mint-700 to-mint-800 dark:bg-gradient-to-r dark:from-mint-500/80 dark:to-mint-400/80 py-3 px-4 z-50 backdrop-blur-xl shadow-lg"
>
  <div class="container mx-auto text-center">
    <p class="text-sm md:text-base font-medium">
      🎓 <strong>Actullement à la recherche d'une alternance</strong> – Développeur
      Web Full Stack –
      <span class="hidden md:inline">Disponible dès maintenant !</span>
      <a
        href="#contact"
        class="underline hover:text-gray-800! hover:font-bold ml-2 transition-opacity duration-300 ease-in-out"
        >📩 Contactez-moi</a
      >
    </p>
  </div>
</div>
