---
// FloatingCV.astro
---

<div class="fixed bottom-5 left-5 z-40 cursor-move">
  <a
    class="px-8 py-4 bg-white text-primary-700 hover:bg-gray-100 shadow-lg border-transparent font-semibold rounded-full transition-all duration-300 transform hover:shadow-xl text-lg"
  >
    📄 Mon CV
  </a>
</div>
