---
const footerLinks = [
  {
    title: "Navigation",
    links: [
      { href: "/", label: "Accueil" },
      { href: "/portfolio", label: "Portfolio" },
      { href: "/blog", label: "Blog" },
      { href: "/apropos", label: "À propos" },
    ],
  },
  {
    title: "Légal",
    links: [
      { href: "/mentions-legales", label: "Mentions légales" },
      { href: "/politique-confidentialite", label: "Données personnelles" },
      { href: "/politique-cookies", label: "Politique cookies" },
      { href: "/gestion-cookies", label: "Gestion cookies" },
    ],
  },
];

const currentYear = new Date().getFullYear();
---

<footer
  class="bg-secondary dark:bg-gray-900 text-gray-700 dark:text-gray-300 pt-4 pb-8"
>
  <div class="container mx-auto px-6 md:px-12">
    <!-- Section principale -->
    <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-10">
      <!-- Bloc À propos -->
      <div>
        <div class="flex items-center space-x-3 mb-4">
          <div
            class="w-12 h-12 bg-primary-600 rounded-full flex items-center justify-center text-white font-bold text-2xl"
          >
            P
          </div>
          <span class="text-2xl font-bold">Portfolio</span>
        </div>
        <p class="leading-relaxed">
          Développeur web passionné, créant des expériences numériques
          immersives depuis 2018.
        </p>
        <!-- Icônes réseaux sociaux -->
        <div class="flex space-x-4 mt-4"></div>
      </div>

      <!-- Colonnes de liens dynamiques -->
      {
        footerLinks.map((column) => (
          <div>
            <h3 class="text-lg font-semibold mb-3">{column.title}</h3>
            <ul class="space-y-2">
              {column.links.map((link) => (
                <li>
                  <a
                    href={link.href}
                    class=" hover:text-primary-500 text-base transition-colors"
                  >
                    {link.label}
                  </a>
                </li>
              ))}
            </ul>
          </div>
        ))
      }
    </div>

    <!-- Séparateur -->
    <div class="border-t border-gray-500 my-6"></div>

    <!-- Section inférieure -->
    <div
      class="flex flex-col md:flex-row md:justify-between items-center text-gray-700 dark:text-gray-300 text-sm"
    >
      <p>&copy; {currentYear} TELOBLABZ. Tous droits réservés.</p>
      <div
        class="flex flex-col md:flex-row items-center space-y-2 md:space-y-0 md:space-x-6"
      >
        <a href="/plan-du-site" class="hover:text-primary-500 transition-colors"
          >Plan du site</a
        >
        <span class="hidden md:inline">|</span>
        <div class="flex items-center">
          <span class="mr-2">Accessibilité :</span>
          <span
            class="px-2 py-1 bg-yellow-100 font-bold text-yellow-800 text-xs rounded-full"
            >partiellement conforme</span
          >
        </div>
      </div>
    </div>
  </div>
</footer>
